<html>

<head>
    <style>
        input {
            width: 30px;
        }
    </style>
</head>

<body>
<h3>Kellie's Bookmaker</h3>

<div id="app">
    Karl's Stake: €<input v-model="karlStake"><br /><br />

    <input type="radio" id="fr" value="Fractional" v-model="oddsType">
    <label for="fr">Fractional</label>
    <br>
    <input type="radio" id="de" value="Decimal" v-model="oddsType">
    <label for="de">Decimal</label>
    <br /><br />

    Shitty Odds: <span  v-if="oddsType == 'Fractional'"><input v-model="soLeft"> / <input v-model="soRight"></span>
    <span  v-if="oddsType == 'Decimal'"><input v-model="soDec"></span>
    <br />
    Better Odds: <span  v-if="oddsType == 'Fractional'"><input v-model="boLeft"> / <input v-model="boRight"></span>
    <span  v-if="oddsType == 'Decimal'"><input v-model="boDec"><br /></span>

    <br /><br />
    Kellie should bet: <b>€{{ ans.kellieStake }}</b> on the better bookie.<br />This guarantees a profit of <b>€{{ ans.profit }}</b>.
</div>


<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            karlStake: '10',
            soLeft: "4",
            soRight: "1",
            soDec: "",
            boLeft: "5",
            boRight: "1",
            boDec: "",
            oddsType: "Fractional"
        },
        computed: {
            ans: function() {
                if (isNaN(this.karlStake) || isNaN(this.soLeft) || isNaN(this.soRight) || isNaN(this.boLeft) || isNaN(this.boRight)) {
                    return {
                        kellieStake: "N/A",
                        profit: "N/A"
                    };
                }

                var c = 0.05;

                var p, b;
                if (this.oddsType == 'Fractional') {
                    var p = (this.soLeft / this.soRight) + 1;
                    var b = (this.boLeft / this.boRight) + 1;
                } else {
                    p = parseFloat(this.soDec);
                    b = parseFloat(this.boDec);
                }

                var k = parseFloat(this.karlStake);

                var kell = (k + (k * p)) / (b - (c * b) + c + 1);

                return {
                    kellieStake: Math.round(kell * 100) / 100,
                    profit: Math.round((k - kell) * 100) / 100
                }
            }
        }
    })
</script>

</body>
</html>
